<?xml version="1.0" encoding="UTF-8"?>
<beans>

<!--    <bean id="userDao" class="ykx.manual.spring.springframework.bean.UserDao" init-method="initDataMethod" destroy-method="destroyDataMethod"/>-->

<!--    <bean id="userService" class="ykx.manual.spring.springframework.bean.UserService">-->
<!--        <property name="uId" value="10001"/>-->
<!--        <property name="userDao" ref="proxyUserDao"/>-->
<!--        <property name="location" value="深圳"/>-->
<!--        <property name="company" value="腾讯"/>-->
<!--    </bean>-->

<!--    <bean id="proxyUserDao" class="ykx.manual.spring.springframework.bean.ProxyBeanFactory"/>-->

<!--    <bean class="ykx.manual.spring.springframework.bean.MyBeanPostProcessor"/>-->
<!--    <bean class="ykx.manual.spring.springframework.bean.MyBeanFactoryPostProcessor"/>-->


    <bean id="userService" class="ykx.manual.spring.springframework.bean.UserService"/>
    <bean class="ykx.manual.spring.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>
    <bean id="beforeAdvice" class="ykx.manual.spring.springframework.bean.UserServiceBeforeAdvice"/>
    <bean id="methodInterceptor" class="ykx.manual.spring.springframework.aop.framework.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice"/>
    </bean>
    <bean id="pointcutAdvisor" class="ykx.manual.spring.springframework.aop.AspectJExpressionPointCutAdvisor">
        <property name="expression" value="execution(* ykx.manual.spring.springframework.bean.IUserDao.*(..))"/>
        <property name="advice" ref="methodInterceptor"/>
    </bean>

</beans>
